body{
  display: flex;
  background-image: linear-gradient(-15deg,black,purple);
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Arial;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#calculadora{
  position: fixed;
  background-image: linear-gradient(45deg,black,crimson);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  padding: 15px;
}

div#calculadora div{
  display: flex;
}


input[type=text]{
  width: 203px;
  height: 30px;
}



input[type=button]{
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin: 1px;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

input[type=button]:hover{
  background-color: #b5b6b9;
}

#visor {
  width: 203px;
  height: 30px;
  border: 2px solid #ccc;
}

#visor.invalid {
  border: 2px solid red;
  color: red;
}

.red-background {
  background-color: rgb(231, 67, 94);
}